body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

form {
    background-color: lavender;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form div {
    text-align: center;
    margin-bottom: 20px;
}

form img {
    max-width: 100px;
}

label {
    display: block;
    margin-bottom: 6px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid mediumorchid;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkorchid;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: mediumpurple;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}
